<div class="container" style="padding-top: 10rem;">
    <h1 class="center">Welcome to Pokemon: TCG</h1>
    <div class="center">
        <% if(user){ %>
            <button style="margin: 1rem;"><a class="nav-link" href="/users/profile">Profile</a></button>
            <button style="margin: 1rem;"><a class="nav-link" href="/users/logout">Logout</a></button>

            <% } else {%>
                <button style="margin: 1rem;"><a class="nav-link" href="/users/new">Sign Up</a></button>
                <button style="margin: 1rem;"><a class="nav-link" href="/users/login">Login</a></button>
                <% } %>

    </div>

</div>