@font-face {
  font-family: "customFont";
  src: url(https://www.fontspace.com/pocket-monk-font-f23540);
}

.container {
    margin: 0 auto;
    max-width: 20rem; 
}

.center {
  margin: 0 auto;
  text-align: center;  
}

.space {
  padding: 5rem;
}

.container-1{
  border: .1rem groove lightgray;
  border-radius: 10px;
  margin: 0 auto;
  height: 30rem;
}

.font {
  font-family: 'customFont';
  color: yellow;
}
