.container {
    margin: 0 auto;
    max-width: 20rem; 
}

.center {
  margin: 0 auto;
  text-align: center;  
}

.space {
  padding: 5rem;
}

.container-1{
  border: .1rem groove lightgray;
  border-radius: 10px;
  margin: 0 auto;
  height: 30rem;
}

* {
  font-family: 'Pocket Monk';
  letter-spacing: .2rem;
  font-size: 1.2rem;
  color: yellow;
}

.poke-pix{
  font-family: 'Pokemon pixels 2';
}
