<div style="padding-left: 2rem;">
    <a href="/users/login">Back</a>

</div>
<form action="/users" method="post" class="container">
    <em>
        <%= error %>
    </em>
    <div class="form-group">
        <label for="email" class="form-label mt-4">Email:</label>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password" class="form-label mt-4">Password:</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="username" class="form-label mt-4">Username:</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
    </div>

    <div style="margin-top: 1rem;">
        <button class="btn btn-primary" type="submit"> Sign up!</button>
    </div>
</form>