<div>
    <div style="height: 300px; width: 250px; border: .5rem dashed black;">
        palceholder for the card image
    </div>
    <form action="cards/new" method="get">
        <input type="submit" value="Claim">
        <input type="submit" value="Skip">
    </form>

</div>