<a href="cards/new">New</a>
<hr>
<div>
    <% cards.forEach(element=> { %>
        <div>
            <a href="cards/<%= element.id %> ">
                <img src="<%= element.image%> " />
            </a>
        </div>
        <% }) %>

</div>