<h1>Available Cards to add</h1>

<% cards.forEach(element=> { %>
    <form action="decks/<%= decks%>/?_method=PUT " method="put">
        <button><img src="<%= element.image %>" /></button>
        <input hidden value="<%=element.id%>" name="cardId">
    </form>
    <% }) %>