<div>
    <form action="/decks/new" method="post">
        <label for="deckName">Deck Name: </label>
        <input type="text" name="deckName" id="deckName">

        <input type="submit" value="Create">

        <div>

        </div>




    </form>

    <!-- <% card.forEach(element=> { %>
        <img src="<%= element.image %> " />
        <% }) %> -->
</div>