<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav">
            <li><a class="nav-link" href="/cards">Cards</a></li>
            <li><a class="nav-link" href="/decks">Decks</a></li>
            <% if(user){ %>
                <li><a class="nav-link" href="/users/profile">Profile</a></li>
                <li><a class="nav-link" href="/users/logout">Logout</a></li>

                <% } else {%>
                    <li><a class="nav-link" href="/users/new">Sign Up</a></li>
                    <li><a class="nav-link" href="/users/login">Login</a></li>
                    <% } %>
        </ul>
    </div>
    </div>
</nav>
<div>
    <form action="/decks/new" method="post">
        <label for="deckName">Deck Name: </label>
        <input type="text" name="deckName" id="deckName">

        <input type="submit" value="Create">

        <div>

        </div>




    </form>

    <!-- <% card.forEach(element=> { %>
        <img src="<%= element.image %> " />
        <% }) %> -->
</div>