<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li><a class="nav-link" href="/users/profile">Profile</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Cards</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/cards/new">New</a>
                        <a class="dropdown-item" href="/cards">View</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Decks</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/decks/new">New</a>
                        <a class="dropdown-item" href="/decks">View</a>
                    </div>
                </li>
                <li><a class="nav-link" href="/users/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<h2>Cards to remove</h2>
<hr>
<% if (cardsOnDeck.cards.length <=0) { %>
    <h4>Deck is empty</h4>

    <% } else {%>

        <% cardsOnDeck.cards.forEach(element=> { %>
            <form action="/decks/<%= deckId%>/remove" method="post" style="display: inline; position: relative;">
                <button><img src="<%= element.image %>" /></button>
                <input hidden value="<%=element.id%>" name="cardId">
            </form>
            <% }) %>

                <%}%>