<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav">
            <li><a class="nav-link" href="/cards">Cards</a></li>
            <li><a class="nav-link" href="/decks">Decks</a></li>
            <% if(user){ %>
                <li><a class="nav-link" href="/users/profile">Profile</a></li>
                <li><a class="nav-link" href="/users/logout">Logout</a></li>

                <% } else {%>
                    <li><a class="nav-link" href="/users/new">Sign Up</a></li>
                    <li><a class="nav-link" href="/users/login">Login</a></li>
                    <% } %>
        </ul>
    </div>
    </div>
</nav>
<div class="space">
    <h3><a href="/decks/new">New</a></h3>
    <h2 class="center">My Decks</h2>
    <hr>
    <div>
        <% decks.forEach(element=> { %>
            <div>
                <h2 style="display: inline;">
                    <a href="/decks/<%= element.id %> ">
                        <%= element.name %>
                    </a>

                </h2>
                <form action="/decks/edit" method="get" style="padding-left: 1rem; display: inline;">
                    <input type="submit" value="Edit">

                </form>
            </div>
            <% }) %>

    </div>

</div>