<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav">
            <li><a class="nav-link" href="/cards">Cards</a></li>
            <li><a class="nav-link" href="/decks">Decks</a></li>
            <% if(user){ %>
                <li><a class="nav-link" href="/users/profile">Profile</a></li>
                <li><a class="nav-link" href="/users/logout">Logout</a></li>

                <% } else {%>
                    <li><a class="nav-link" href="/users/new">Sign Up</a></li>
                    <li><a class="nav-link" href="/users/login">Login</a></li>
                    <% } %>
        </ul>
    </div>
    </div>
</nav>
<!-- page that will show the available cards that can be added to the deck -->
<hr>

<h2>
    <%= cardsOnDeck.name %>
</h2>
<% cardsOnDeck.cards.forEach(element=> { %>
    <img src="<%= element.image %> " />
    <% }) %>

        <div>
            <form action="/decks/<%= cardsOnDeck.id%>/add" method="get">
                <input type="submit" value="Add Card">
            </form>

            <form action="/decks/<%= cardsOnDeck.id %>/?_method=DELETE" method="delete">
                <input type="submit" value="Remove Card">
            </form>

        </div>